:root {
  width: 100vw;
  --main-color: #98F576;
  --main-color-hover: #83E55F;
  --main-color-active: #0D600D;
  --main-with-wight: #0E8A0E;
  --dark-gray: #BEBEBE;
  --light-gray: #D4D4D4;
  --link-read: #06899B;
  overflow-x: hidden;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app{
  z-index: 2;
  padding: 0 20%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 16px;
}

h1{
  margin: 14px 0;
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 45px;
}

h3{
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

h4{
  margin: 0;
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

a{
  text-decoration: none;
  cursor: pointer;
}

ul{
  margin: 0;
  padding: 0;
}

button{
  cursor: pointer;
}